




        <footer class="bg-info">
          <p class="text-white">Email Me : <a href="mailto:khomkritmok@hotmail.com" class="text-white">khomkritmok@hotmail.com</a> </p>
        </footer>


</html>
