.navbar {
  padding: 2% 15%;
}

.postLayout{
  padding:2% 15%;
}

.actualPost{
  padding: 2% 0;
}

.compose{
  padding: 2% 15%;
}

.alonePost{
  padding: 10% 15%;
}

footer {
  text-align: center;
  padding: 2% 15%;
}
